
.navBar {
  color: white;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.navBar input{
  height: 1.9rem;
  width: 17rem;
  text-align: center;
  font-size: 17px;
  border: none;
  border-radius: 4px;
  background-image: url('../assets/brain-icon-clipart.png');
  background-size: 30px;
  background-repeat: no-repeat;
}

.navBar ::placeholder {
  text-align: center; 
}

.title{
  margin-left: 3rem;
  font-size: x-large;
}

.search{
  margin-right: 3rem;
}