body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.container,
div {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

hr {
  border: 1px solid #bdbdbd;
  width: 79vw;
  margin: 3rem 0 0 3.2rem;
}
